// В этом файле должны быть стили для БЭМ-блока page-intro, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-intro {

  $block-name:                &; // #{$block-name}__element

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;

  .container {
    position: relative;
  }

  &__title {
    color: #fff;
    text-transform: uppercase;
    font-family: $font-family--serif;
    font-weight: 400;
    font-size: 36px;

    @media (min-width: $screen-lg) {
      font-size: 42px;
    }
    @media (min-width: $screen-xl) {
      font-size: 72px;
    }
  }
}

.come-back {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  font-weight: 300;
  
  @media (min-width: $screen-xxl) {
    position: absolute;
    top: -3px;
    right: calc(100% + 30px);
  }

  svg {
    margin-right: 15px;
    flex-shrink: 0;
  }
}
