// В этом файле должны быть стили для БЭМ-блока field-captcha, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-captcha {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: ($line-height / 1.2);

  &__name {
    @include field-name;

    span {
      color: #A50600;
      font-weight: 400;
    }
  }
}
