// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  
  &__inner {
    margin: auto;
    max-width: 1522px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn-group {
    display: flex;
    align-items: center;

    .btn-call {
      background: transparent;
      backdrop-filter: none;
      text-decoration: underline;
      font-weight: 700;
      &:hover,
      &:focus {
        background: transparent;
      }
    }
    .btn-login {
      position: relative;
      margin-left: 20px;
      border: 1px solid #F7FFFF;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(12px);
      transition: all $transition-time;
      box-shadow: 0px 0px 27px -4px rgba(255, 255, 255, 0.9);
      padding: $field-padding-vertical 5em $field-padding-vertical $field-padding-horizontal;
      &:before {
        content: "";
        width: 27px;
        height: 29px;
        position: absolute;
        top: 12px;
        right: 27px;
        background-image: url(../img/icon-login.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
  
      &:hover,
      &:focus {
        backdrop-filter: none;
        background: rgba(255, 255, 255, 0.3);
        border-color: #fff;
        box-shadow: none;
      }
    }
    .burger {
      margin-left: 40px;
    }
  }

  .logo {
    flex-shrink: 0;
  }
}
