// В этом файле должны быть стили для БЭМ-блока coming-event, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.coming-event {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;
  }
  
  &__col {
    @include col();
    @include col(md, 4);

    margin-bottom: 30px;
  }

  &__more {
    text-align: center;
  }

  &__more-link {
    font-size: 20px;
    color: #000;
    display: inline-block;
    padding: 5px 15px;

    &:hover {
      text-decoration: none;
    }
  }
}
