// В этом файле должны быть стили для БЭМ-блока partners, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.partners {

  $block-name:                &; // #{$block-name}__element

  &__list {
    @include row;
  }

  &__item {
    @include col();
    @include col(lg, 2);
    @include col(md, 3);
    @include col(xs, 4);

    margin-bottom: 30px;
  }

  &__logo {
    display: block;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;

    img {
    }
  }
}
