// В этом файле должны быть стили для БЭМ-блока form-section, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-section {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 80px;

  &__row {
    @include row;
  }

  &__caption,
  &__form {
    @include col();
    @include col(md, 6);
    margin-bottom: 30px;
  }

  &__caption {
    p {
      font-size: 18px;
    }
  }
}
