// В этом файле должны быть стили для БЭМ-блока main-message, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-message {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__image {
    @include col();
    @include col(md, 4);
    @include col(lg, 5);
    @include col(xl, 6);

    img {
      border-radius: 10px;
    }
  }

  &__caption {
    @include col();
    @include col(md, 8);
    @include col(lg, 7);
    @include col(xl, 6);

    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;

    @media (min-width: $screen-lg) {
      font-size: 18px;
    }
  }

  &__caption-lead {
    line-height: 1.4;
    font-size: 16px;
    text-align: right;
    font-weight: 400;

    @media (min-width: $screen-lg) {
      font-size: 20px;
    }
  }
}
