// В этом файле должны быть стили для БЭМ-блока login-form, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.login-form {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;
  }

  &__col-6 {
    @include col();
    @include col(md, 6);
  }

  .field-link {
    margin-top: 20px;

    a {
      font-size: 18px;
      color: #1FAECD;
      font-weight: 300;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
