// В этом файле должны быть стили для БЭМ-блока reg-form, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.reg-form {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;
  }

  &__col-6 {
    @include col();
    @include col(md, 6);
  }
  &__col-12 {
    @include col();
    @include col(xs, 12);
  }

  .field-actions {
    text-align: center;
  }

  .field-checkbox__input-row {
    @include row;

    .field-checkbox__input-wrap {
      @include col();
      @include col(md, 4);
      margin-top: 0;
      margin-bottom: 0.6875em
    }
  }

  &__footer {
    justify-content: center;

    .alert  {
      margin-top: 0;
    }
  }

}
